<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js" charset="utf-8"></script>
  <script src="./app.js" charset="utf-8"></script>
  <title>Document</title>
</head>
<body ng-app="app">
  <div ng-controller="something">
    <h1>Booyah</h1>
    <input type="text" ng-model="test1">
    <input type="text" ng-model="test2">
    <input type="text" ng-model="test3">
    <input type="text" ng-model="test4">
    <input type="text" ng-model="test5">
    <input type="text" ng-model="test6">

  <p>{{test1}}</p>
  <p>{{test2}}</p>
  <p>{{test3}}</p>
  <p>{{test4}}</p>
  <p>{{test5}}</p>
  <p>{{test6}}</p>
  </div>
</body>
</html>
